@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: rgb(9 9 11);
    color: rgb(250 250 250);
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI,
      Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: rgba(217, 70, 239, 0.4);
  }

  a {
    text-underline-offset: 4px;
  }
}
